<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mapper.member">
  
	<resultMap id="member" type="com.mbcc.vo.Member">
	
	        <!-- member fields -->
		<id property="memNum" column="mem_num"/>
		<result property="memId" column="mem_id"/>
		<result property="memPwd" column="mem_pwd"/>
		<result property="memName" column="mem_name"/>
		<result property="memImg" column="mem_img"/>
		<result property="gender" column="gender"/>
		<result property="birthday" column="birthday"/>		
		<result property="empDate" column="emp_date"/>
		<result property="email" column="email"/>
		<result property="tel" column="tel"/>
		<result property="teamNum" column="team_num"/>
		<result property="empType" column="emp_type"/>
		<result property="vacation" column="vacation"/>
		<result property="salary" column="salary"/>
		<result property="role" column="role"/>
		
		<!-- team fields -->
		<result property="teamNum" column="team_num" />
        <result property="teamName" column="team_name" />
	</resultMap>



<select id="selectAllUsers" resultMap="member">
  SELECT mb.*, tm.team_num, tm.team_name 
  FROM member mb
  JOIN team tm ON mb.team_num = tm.team_num
</select>
    
    <select id="userLogin" parameterType="member" resultType="String">
        select mem_id from member where mem_id=#{memId} and mem_pwd=#{memPwd}       
    </select>
    
    <select id="validId" resultType="String" parameterType="String">
        select mem_id from user where mem_id=#{memId}        
    </select>
    
    <select id="getOneUser" parameterType="String" resultMap="member">
    	 SELECT * FROM member where mem_id=#{memId} 
    </select>
    	
    <insert id="userInsert" parameterType="member">
        INSERT INTO user (mem_id, mem_pwd, mem_name, mem_img, gender, birthday, emp_date, email, tel, team_num, emp_type, vacation, salary)
        VALUES(
        #{memId},
        #{memPwd},
        #{memName},
        #{memImg},
        #{gender},
        #{birthday},
        #{empDate},
        #{email},
        #{tel},
        #{teamNum},
        #{empType},
        #{vacation},
        #{salary}
        #{role}
        )       
    </insert>
    
    <update id="userUpdate" parameterType="member">
         update member
         set email=#{email}, tel=#{tel}, memImg=#{memImg}
         where mem_id=#{mem_id} 	 
    </update>
    
    <update id="adminUserUpdate" parameterType="String">
         update member
         set mem_pwd=#{mem_pwd}, gender=#{gender}, memName=#{mem_name}, email=#{email}, tel=#{tel}, team_num=#{team_num}, emp_type=#{emp_type}, vacation=#{vacation}, mem_img=#{mem_img}, salary=#{salary}
         where mem_id=#{mem_id} 	 
    </update>
    
    <delete id="userDelete" parameterType="String">  
        delete from member where mem_id=#{mem_id} 
    </delete>

</mapper>