<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mapper.task">

	<resultMap id="task" type="com.solo.vo.Task">
		<id property="taskNum" column="taskNum" />
		<result property="memNum" column="memNum" />
		<result property="kind" column="kind" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="endDate" column="endDate" />
	</resultMap>
  
	<select id="getAllTask" resultMap="task">SELECT * FROM task</select>
    
</mapper>