* { padding: 0; margin: 0; }

html, body {
  height: 100%;
  background: #0A0A0A;
  font-family: 'Noto Sans KR', sans-serif;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#loginBox {
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content:center;
	text-align:left;
  max-width:600px;
  min-height: 600px;
  text-align: center;
  background-color: #0A0A0A;
  position: relative;
}
#loginBox .logo {
	max-width:60px;
	object-fit:contain;
}
.input-form-box {
  border: 0px solid #ff0000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  gap: 10px 0;
}
.input-form-box label {
	color:#FFF;
}
.button-login-box {
  margin: 30px 0;
}
.button-login-box #login {
	min-height: 60px;
	border-radius:15px;
	transition:all 0.3s;
}
.button-login-box #login:hover {
	background: #FFF;
	color:#0d6efd;
	transition:all 0.3s;
}

#loginBoxTitle {
  color:#FFF;
  font-weight: bold;
  font-size: 60px;
  text-transform: uppercase;
  padding: 5px;
  margin-bottom: 30px;
  background: linear-gradient(to right, #270a09, #8ca6ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#inputBox {
  margin: 10px;
}

#inputBox button {
     padding: 3px 5px;
    margin: 20px 0px;
}

#insertmember,
#findPw {  }

a {
  text-decoration: none;
  padding: 20px 20px 0;
   
}